.resource-container {
  border: 2px solid white;
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-rows: 1fr 60px;
  box-sizing: border-box;
}

.resource-icon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-details {
  width: 100%;
  height: 100%;
  padding: .5em;
  background-color: white;
  box-sizing: border-box;
}

.resource-info {
  display: flex;
  justify-content: space-between;
}
.resource-info p {
  margin: 0px;
}